<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New updates for document <strong><%= @document.title %>!</strong></p>
  </body>
</html>