<%= form_with(model: document) do |form| %>
  <document-editor :document-json="<%= form.object.to_json %>">
  <% if document.errors.any? %>
    <template v-slot:errors>
      <ul class="notification is-danger is-light form-errors">
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </template>
  <% end %>
  <template v-slot:submit-button>
    <%= form.submit class: 'button is-primary' %>
  </template>
  </document-editor>
<% end %>